
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  
  </div>
  <div class="container2">
  
  </div>
  <br> <br>
  <div class="card text-white bg-primary">
   
    <div class="card-header">Join With Us</div>
    <div class="card-body">
      <div >
        <img class="d-block w-100" src="../../assets/images/1.jpg" height="350px" width="1110px"
          alt="First slide">
      </div><br><br>
      <h2 class="card-title">    <br><br>
      </h2>
      <p class="card-text">     <a  class="join" routerLink="/signup">Signup</a> <br><br>
      </p>
    </div>
  </div>
</div>

               
  
          
                

